header {
  width: 100%;
  height: 80px;

  .header__flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      width: 10%;
      margin-left: 5%;
    }

    .header-info {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 5%;

      p {
        padding-right: 5%;
      }
    }
  }
}