@import "variable", "typography", "mixin";

.main {
  min-height: 540px;

  &__container {
    position: relative;
    width: 100%;
    height: 520px;
    background: url("../src/bg-sample.jpeg");

    .overlay {
      width: 100%;
      height: 100%;
      background: rgba(99, 201, 229, 0.5);
      z-index: 10;
    }
    .catchcopy-box {
      position: absolute;
      top: -50px;
      left: 20%;
      width: 60%;
      height: 100px;
      background-color: #57BDD1;
      text-align: center;

      h1 {
        margin: 0;
        color: $white;
        line-height: 100px;
      }
    }

    .form {
      width: 100%;
      padding: 12% 10%;

      input, select {
        border: 1px solid #E5E3E3;
        outline: none;
      }

      &__top,
      &__bottom {
        display: flex;
        justify-content: center;
      }

      &__top {
        .input-top {
          width: 35%;
          height: 55px;
        }
      }

      &__bottom {
        margin-top: 5%;

        .input__city {
          display: inline-block;
          width: 35%;
          color: $white;

          &-item {
            width: 100%;
            height: 55px;
          }
        }

        .input-bottom,
        .select {
          width: 50%;
          height: 55px;
          margin-top: 21px;
        }

        .select {
          display: inline-block;
          border: 1px solid #E5E3E3;
          background-color: $white;
        }
      }

      button {
        display: block;
        width: 180px;
        padding: 0.8% 0;
        background-color: #D91F4B;
        font-size: $font-size-h2;
        color: $white;
        border: none;
        border-radius: 30px;
        margin: 2% 0 0 auto;
      }
    }
  }
}

@include tabletSize {
  .main {
    &__container {
      .catchcopy-box {
        width: 100%;
        left: 0;

        h1 {
          font-size: $font-size-base + 10px;
        }
      }

      .form {
        &__top {
          margin-top: 5%;
        }

        &__bottom {
          margin-top: 5%;
        }

        input[type="submit"] {
          margin-top: 5%;
        }
      }
    }
  }
}

@include mobileSize {
  .main {
    &__container {
      height: 760px;
      background-position: center;

      .catchcopy-box {
        width: 100%;
        height: 150px;
        left: 0;

        h1 {
          line-height: 50px;
          padding: 5% 0;
        }
      }

      .form {
        &__top,
        &__bottom {
          display: block;

          .input-top,
          .input__city,
          .input-bottom {
            width: 100%;
          }
        }

        &__top {
          margin-top: 25%;

          input {
            margin-bottom: 5%;
          }
        }

        &__bottom {
          margin-top: 0;

          .input__city {
            margin-bottom: 5%;
          }

          .input-bottom {
            margin: 0 0 5%;
          }
        }

        input[type="submit"] {
          width: 250px;
          margin: 5% auto 0;
          padding: 3% 0;
        }
      }
    }
  }
}
