//common color
$black: #545454;
$white: #FFFFFF;
$border-gray: #CCC7C7;
$bg-gray: #FAFAFA;
$dark-blue: #665C84;
$yellow: #FFBA5A;
$orange: #FF7657;

//bg color for img
$bg-img: #fafafa;

//color for value section
$values-blue: #96DADB;

//opacityaj
$bg-gray-opacity: rgba(250, 250, 250, 0.5);