@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,700" rel="stylesheet"');

html {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

main {
  display: block;
}

section {
  margin: 50px 0;
}

h1 {
  font-size: 1.777rem;
}

h2 {
  font-size: 1.388rem;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}

header {
  width: 100%;
  height: 80px;
}

header .header__flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__flex .header__logo {
  width: 10%;
  margin-left: 5%;
}

header .header__flex .header-info {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

header .header__flex .header-info p {
  font-weight: lighter;
  margin-right: 5%;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}

.main {
  min-height: 540px;
}

.main__container {
  position: relative;
  width: 100%;
  height: 600px;
  background: url("components/assets/bg-sample.jpeg") center;
}

.main__container .overlay {
  width: 100%;
  height: 100%;
  background: rgba(99, 201, 229, 0.5);
  z-index: 10;
}

.main__container .catchcopy-box {
  position: absolute;
  top: -50px;
  left: 10%;
  width: 80%;
  height: 100px;
  background-color: #57BDD1;
  text-align: center;
}

.main__container .catchcopy-box h1 {
  margin: 0;
  color: #FFFFFF;
  line-height: 100px;
}

.main__container .form {
  width: 100%;
  padding: 12% 10%;
}

.main__container .form input {
  padding: 2%;
}

.main__container .form input {
  border: 1px solid #E5E3E3;
  outline: none;
  width: 100%;
  height: 100%;
}
/*.main__container .form select {*/
  /*border: 0;*/
  /*outline: 1px solid #E5E3E3;*/
  /*outline-offset: -1px;*/
  /*background-color: #FFFFFF;*/
/*}*/
.main__container .form__top, .main__container .form__middle, .main__container .form__bottom {
  display: flex;
  justify-content: flex-start;
}

.main__container .form__top .input__container {
  width: 100%;
  height: 55px;
  display: block;
}

.main__container  .input__top {
  width: 100%;
}

.main__container .form__middle, .main__container .form__bottom {
  margin-top: 3%;
}
.main__container .form__middle .input__city {
  width: 50%;
  color: #FFFFFF;
}

.main__container .form__middle .input__city-item {
  width: 50%;
  height: 55px;
  color: #545454;
  padding: 2%;
}

.main__container .form__bottom .input-date {
  height: 55px;
  margin-top: 21px;
}
.main__container .form__bottom .input-bottom,
.main__container .form__bottom .select {
  width: 30%;
  height: 55px;
  margin-top: 21px;
}

.main__container .form__middle .select, .main__container .form__bottom .select {
  display: inline-block;
  border: 1px solid #E5E3E3;
  background-color: #FFFFFF;
}

.main__container .form .sendButton {
  display: block;
  width: 180px;
  padding: 1% 0;
  background-color: #D91F4B;
  font-size: 1.388rem;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  margin: 2% 0 0 auto;
}

@media (min-width: 700px) and (max-width: 999px) {
  .main__container .catchcopy-box {
    width: 100%;
    left: 0;
  }
  .main__container .catchcopy-box h1 {
    font-size: 28px;
  }
  .main__container .form__top {
    margin-top: 5%;
  }
  .main__container .form__bottom {
    margin-top: 5%;
  }
  .main__container .form .sendButton {
    margin-top: 5%;
  }
}

@media (max-width: 699px) {
  .main__container {
    height: 760px;
    background-position: center;
  }
  .main__container .catchcopy-box {
    width: 100%;
    height: 150px;
    left: 0;
  }
  .main__container .catchcopy-box h1 {
    line-height: 50px;
    padding: 5% 0;
  }
  .main__container .form__top, .main__container .form__bottom {
    display: block;
  }
  .main__container .form__top .input-top,
  .main__container .form__top .input__city,
  .main__container .form__top .input-bottom, .main__container .form__bottom .input-top,
  .main__container .form__bottom .input__city,
  .main__container .form__bottom .input-bottom {
    width: 100%;
  }
  .main__container .form__bottom .input-date {
    width: 300px;
  }
  .main__container .form__top {
    margin-top: 25%;
  }
  .main__container .form__top .input__container {
    margin-bottom: 5%;
  }
  .main__container .form__bottom {
    margin-top: 0;
  }
  .main__container .form__bottom .input__city {
    margin-bottom: 5%;
  }
  .main__container .form__bottom .input-date {
    margin: 0 0 5%;
  }
  .main__container .form__bottom .input-bottom {
    margin: 0 0 5%;
  }
  .main__container .form .sendButton {
    width: 250px;
    margin: 5% auto;
    padding: 5% 0;
  }
}

.values {
  width: 100%;
}
.values h2 {
  text-align: center;
}
.values__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}
.values__flex--item {
  margin: 0 5%;
}
.values__flex--item img {
  width: 40%;
}
.values__flex div:nth-child(3) img {
  width: 33%;
}

.info {
  width: 80%;
  margin: 0 auto;
}
.info--item::before {
  content: url("./components/assets/check.png");
  padding-right: 2%;
}

@media (max-width: 699px) {
  .values__flex {
    display: block;
    margin-top: 5%;
  }
  .values__flex--item {
    margin: 8% 5%;
  }
  .values__flex--item img {
    width: 15%;
  }
  .values__flex div:nth-child(3) img {
    width: 15%;
  }
  .values__flex--item h3 {
    margin-bottom: 10px;
  }
  .values__flex--item p {
    margin-top: 0;
  }
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (max-width: 699px) {
  html {
    font-size: 14px;
  }
}

footer {
  width: 100%;
  height: 80px;
  padding: 0 5%;
  background-color: #eeeeee;
}

footer .footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer .footer__flex--left {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .footer__flex--left p {
  display: inline-block;
  margin-right: 3%;
}

footer .footer__flex--left a {
  width: 100%;
  color: #545454;
}

footer .footer__flex--right p {
  font-weight: lighter;
  font-size: 13px;
}

/*show error*/

div.error{
  color: red;
  margin: 2% 0 0 2%;
  font-size: 13px;
}

/*----- register page -----*/
.register {
  width: 100%;
}
.register h1 {
  padding-left: 5%;
}
.form--register {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.form--register label {
    display: block;
    text-align: left;
}
.input__container--register, .coveredarea {
  margin-bottom: 5%;
}
.input__container--register input {
  width: 100%;
  height: 50px;
}
.coveredarea {
    width: 100%;
    border: 1px solid #F0F0F0;
    padding: 3% 2%;
    text-align: left;
}
.coveredarea input {
    margin: 0 2% 3% 3%;
}
.coveredarea .showCity {
  border: none;
  margin-left: 5px;
  font-size: 16px;
}
.input__container--register textarea {
  width: 100%;
  height: 100px;
}
.form--register .sendButton{
  display: block;
  width: 180px;
  padding: 1% 0;
  background-color: #D91F4B;
  font-size: 1.388rem;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  margin: 3% auto;
}
/*-----------------------------*/